*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(8, 158, 175);
    color: white;
    padding: 10px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 1260px;
}
.navbar li{
    display: inline;
    margin-left: 20px;
}
.navbar ul{
    padding-top: 10px;
    float: right;
}
.logo{
    float: left;
    font-size: xx-large;
    font-weight: 800;
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    border: 5px solid black;
    border-radius: 35px;
    text-align: center;
}
.navbar li a{
    color: white;
    text-decoration: none; 
}
.navbar li a:hover{
    color:blue
}
.search{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
}
.search input{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}
button a{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.container1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    width: 1230px;
}
.text h1{
    font-size: large;
}
.text{
    margin-bottom: 10px;
}
.symbol{
    margin-left: 20px;
}
.symbol i{
    margin-left: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.link ul li{
    list-style: none;
    font-style: normal;
    color: rgb(170, 177, 177);
}
.link li h1{
    font-size: large;
    margin-bottom: 10px;
    color: white;
}
.new h1{
    font-size: large;
    margin-bottom: 10px;
}
.new input{
    width: 250px;
    height: 25px;
    margin-bottom: 5px;
}
#button{
    background-color: rgba(238, 97, 10, 0.865);
    color: white;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT';
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
}
.bar{
    background-color: rgba(39, 36, 36, 0.906);
    color: white;
    display: flex;
    justify-content: space-between;
    padding:10px;
    width: 1260px;
}
.item ul li{
    display: inline;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}
.form{
    background-color: rgb(108, 107, 107);
    color: white;
    width: 1280px;
    background-image: url(r1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.form h1{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.form label{
    font-weight: bold;
}
.input{
    width: 200px;
    height: 20px;
}
@media screen and (max-width:900px) and (min-width:600px){
    .navbar{
        background-color: rgb(255, 2, 19);
        color: rgb(3, 3, 3);
        padding: 10px;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-size: small;
        height: 50px;
        width: 880px;
    }
    .form{
        background-color: black;
        color: white;
        width: 900px;
        background-image: url(r1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .container1{
        background-color: rgb(249, 0, 0);
        color: rgb(9, 9, 9);
        display: flex;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        padding: 25px;
        width: 850px;
        font-size: small;
    }
    .bar{
        background-color: rgba(39, 36, 36, 0.906);
        color: white;
        display: flex;
        justify-content: space-between;
        padding:10px;
        width: 880px;
        font-size: 10px;
    }
}
@media screen and (max-width:600px) and (min-width:300px){
    .navbar{
        background-color: rgb(2, 255, 19);
        color: rgb(0, 0, 0);
        padding: 10px;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-size: small;
        height: 50px;
        width: 580px;
    }
    .form{
        background-color: black;
        color: white;
        width: 600px;
        background-image: url(r1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .container1{
        background-color: rgb(0, 249, 29);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        padding: 25px;
        width: 550px;
        font-size: 10px;
    }
    .bar{
        background-color: rgba(39, 36, 36, 0.906);
        color: white;
        display: flex;
        justify-content: space-between;
        padding:10px;
        width: 580px;
        font-size: 10px;
    }
}
.form input[type=text], select,textarea{
    border-radius:6px;
}