*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(8, 158, 175);
    color: white;
    padding: 10px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 1245px;
}
.navbar li{
    display: inline;
    margin-left: 20px;
}
.navbar ul{
    padding-top: 10px;
    float: right;
}
.logo{
    float: left;
    font-size: xx-large;
    font-weight: 800;
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    border: 5px solid black;
    border-radius: 35px;
    text-align: center;
}
.navbar li a{
    color: white;
    text-decoration: none; 
}
.navbar li a:hover{
    color:blue
}
.search{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
}
.search input{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}
button a{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.container{
    display: flex;
    box-sizing: border-box;
}
.img img{
    width: 600px;
    height: 400px;
    border: 5px solid black;
    box-sizing: border-box;
}
.background{
    background-image: url(r1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    height: 700px;
    position: absolute;
    width: 665px;
}
.content{
    position:relative;
    color: rgb(3, 3, 3);
    font-weight: 900px;
    padding: 10px;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    width: 650px;
}
.content h1{
    padding-left: 10px;
    background-color: rgb(175, 116, 7);
    width: 600px;
}
.content h3{
    padding-left: 10px;
    background-color: rgb(175, 116, 7);
    display: inline;
}
.container2{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    width: 1215px;
}
.text h1{
    font-size: large;
}
.text{
    margin-bottom: 10px;
}
.symbol{
    margin-left: 20px;
}
.symbol i{
    margin-left: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.link ul li{
    list-style: none;
    font-style: normal;
    color: rgb(170, 177, 177);
}
.link li h1{
    font-size: large;
    margin-bottom: 10px;
    color: white;
}
.new h1{
    font-size: large;
    margin-bottom: 10px;
}
.new input{
    width: 25vw;
    height: 25px;
    margin-bottom: 5px;
}
#button{
    background-color: rgba(239, 147, 19, 0.865);
    color: white;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT';
    border: 0px;
    border-radius: 5px;
}
.bar{
    background-color: rgba(39, 36, 36, 0.906);
    color: white;
    display: flex;
    justify-content: space-between;
    padding:10px;
    width: 1245px;
}
.item ul li{
    display: inline;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}
@media screen and (max-width:900px) and (min-width:600px){
    .navbar{
        background-color: rgb(32, 223, 3);
        color: rgb(3, 3, 3);
        padding: 10px;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-size: small;
        height: 50px;
        width: 1175px;
    }
    .img img{
        width: 600px;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .content{
        position:relative;
        color: rgb(16, 15, 15);
        font-size: small;
        padding: 10px;
        font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }
    .content h1{
        padding-left: 10px;
        background-color: rgb(99, 175, 7);
        width: 500px;
    }
    .content h3{
        padding-left: 10px;
        background-color: rgb(99, 175, 7);
        display: inline;
    }
    .container{
        display: flex;
        box-sizing: border-box;
    }
    .background{
        background-image: url(r1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(2px);
        height: 700px;
        position: absolute;
        width: 600px;
    }
    .container2{
        background-color: rgb(249, 0, 0);
        color: rgb(9, 9, 9);
        display: flex;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        padding: 25px;
        width: 1150px;
        font-size: small;
    }
    .bar{
        background-color: rgba(39, 36, 36, 0.906);
        color: white;
        display: flex;
        justify-content: space-between;
        padding:10px;
        width: 1180px;
        font-size: 10px;
    }
}
@media screen and (max-width:600px) and (min-width:300px){
    .navbar{
        background-color: rgb(5, 202, 11);
        color: rgb(0, 0, 0);
        padding: 10px;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-size: small;
        height: 50px;
        width: 600px;
    }
    .img img{
        width: 600px;
        border: 2px solid black;
        box-sizing: border-box;
        height: 400px;
        margin: 10px;
    }
    .content{
        position:relative;
        color: rgb(10, 10, 10);
        font-size: 10px;
        padding: 10px;
        font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        width: 600px;
    }
    .content h1{
        padding-left: 10px;
        background-color: rgb(99, 175, 7);
        width: 500px;
    }
    .content h3{
        padding-left: 10px;
        background-color: rgb(99, 175, 7);
        display: inline;
    }
    .container{
        display: inline;
        box-sizing: border-box;
        color: blueviolet;
    }
    .background{
        background-image: url(r1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(2px);
        height: 500px;
        position: absolute;
        width: 650px;
    }
    .container2{
        background-color: rgb(249, 0, 0);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        padding: 25px;
        width: 600px;
        margin-top: 180px;
        font-size: 10px;
    }
    .s{
        background-color: rgba(39, 36, 36, 0.906);
        color: white;
        display: flex;
        justify-content: space-between;
        padding:10px;
        width: 630px;
        font-size: 10px;
    }
}